@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  
  /* Trezo Template Colors */
  --font-body: "Inter", serif;
  --text-xs: 12px;
  --text-sm: 13px;
  --text-base: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 24px;
  --text-2xl: 28px;
  --text-3xl: 32px;
  --text-4xl: 36px;
  --text-5xl: 40px;
  --color-white: #ffffff;
  --color-black: #23272e;
  --color-dark: #000000;
  --color-primary-50: #ecf0ff;
  --color-primary-100: #dde4ff;
  --color-primary-200: #c2cdff;
  --color-primary-300: #9caaff;
  --color-primary-400: #757dff;
  --color-primary-500: #605dff;
  --color-primary-600: #4936f5;
  --color-primary-700: #3e2ad8;
  --color-primary-800: #3225ae;
  --color-primary-900: #2d2689;
  --color-secondary-50: #eef6ff;
  --color-secondary-100: #daebff;
  --color-secondary-200: #bddcff;
  --color-secondary-300: #90c7ff;
  --color-secondary-400: #5da8ff;
  --color-secondary-500: #3584fc;
  --color-secondary-600: #1f64f1;
  --color-secondary-700: #174ede;
  --color-secondary-800: #1940b4;
  --color-secondary-900: #1a3a8e;
  --color-purple-50: #faf5ff;
  --color-purple-100: #f3e8ff;
  --color-purple-200: #e9d5ff;
  --color-purple-300: #d7b5fd;
  --color-purple-400: #bf85fb;
  --color-purple-500: #ad63f6;
  --color-purple-600: #9135e8;
  --color-purple-700: #7c24cc;
  --color-purple-800: #6a22a7;
  --color-purple-900: #571d86;
  --color-success-50: #eeffe5;
  --color-success-100: #d8ffc8;
  --color-success-200: #b2ff97;
  --color-success-300: #82fc5a;
  --color-success-400: #58f229;
  --color-success-500: #37d80a;
  --color-success-600: #25b003;
  --color-success-700: #1e8308;
  --color-success-800: #1d670d;
  --color-success-900: #1a5710;
  --color-orange-50: #fff5ed;
  --color-orange-100: #ffe8d4;
  --color-orange-200: #ffcea9;
  --color-orange-300: #ffaa72;
  --color-orange-400: #fe7a36;
  --color-orange-500: #fd5812;
  --color-orange-600: #ee3e08;
  --color-orange-700: #c52b09;
  --color-orange-800: #9c2410;
  --color-orange-900: #7e2010;
  --color-danger-50: #fff2f0;
  --color-danger-100: #ffe1dd;
  --color-danger-200: #ffc8c0;
  --color-danger-300: #ffa294;
  --color-danger-400: #ff6d57;
  --color-danger-500: #ff4023;
  --color-danger-600: #ec1f00;
  --color-danger-700: #d71c00;
  --color-danger-800: #b11a03;
  --color-danger-900: #921c0a;
  --color-gray-50: #f6f7f9;
  --color-gray-100: #eceef2;
  --color-gray-200: #d5d9e2;
  --color-gray-300: #b1bbc8;
  --color-gray-400: #8695aa;
  --color-gray-500: #64748b;
  --color-gray-600: #526077;
  --color-gray-700: #434e61;
  --color-gray-800: #3a4252;
  --color-gray-900: #23272e;
  --color-warning-50: #fff8e1;
  --color-warning-100: #ffecb3;
  --color-warning-200: #ffe082;
  --color-warning-300: #ffd54f;
  --color-warning-400: #ffca28;
  --color-warning-500: #ffc107;
  --color-warning-600: #ffb300;
  --color-warning-700: #ffa000;
  --color-warning-800: #ff8f00;
  --color-warning-900: #ff6f00;
  --color-info-50: #e1f7fe;
  --color-info-100: #b3ecfc;
  --color-info-200: #80e0fa;
  --color-info-300: #48d3f5;
  --color-info-400: #0dcaf0;
  --color-info-500: #00c1eb;
  --color-info-600: #00b1d7;
  --color-info-700: #009cbb;
  --color-info-800: #0088a2;
  --color-info-900: #006574;
  --shadow-3xl: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-body text-sm md:text-base text-gray-500 bg-gray-50 leading-normal dark:bg-[#0a0e19] dark:text-gray-400;
  }
}

/** Paragraph */
p {
  @apply mb-[15px] leading-[1.6];

  &:last-child {
    @apply mb-0;
  }
}

/** Heading */
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1,
.display-6,
.display-5,
.display-4,
.display-3,
.display-2,
.display-1 {
  @apply text-black font-bold leading-tight mb-[10px] dark:text-white;
}
.h6,
h6,
.display-6 {
  @apply text-base;
}
.h5,
h5,
.display-5 {
  @apply text-md md:text-lg;
}
.h4,
h4,
.display-4 {
  @apply text-xl;
}
.h3,
h3,
.display-3 {
  @apply text-2xl;
}
.h2,
h2,
.display-2 {
  @apply text-3xl;
}
.h1,
h1,
.display-1 {
  @apply text-4xl;
}

/** Button */
button {
  @apply cursor-pointer;
}

/** Front Page Navbar */
#navbar {
  &.is-sticky {
    @apply z-[999] bg-white dark:bg-dark;

    &.lms-navbar {
      @apply py-[15px] md:py-[20px];
    }
    &.marketing-navbar {
      @apply bg-transparent py-0;

      .navbar {
        @apply shadow-sm;
      }
    }
    &.credit-card-navbar {
      @apply py-[10px] md:py-[15px] shadow-sm;
    }
  }
  #navbar-burger-menu {
    &.active {
      span {
        &:first-child {
          transform-origin: 10% 10%;
          @apply rotate-[45deg];
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform-origin: 10% 90%;
          @apply -rotate-[45deg];
        }
      }
    }
  }
  #navbar-collapse {
    &.active {
      @apply block;
    }
  }
}

/** Landing Sidebar Settings */
.sidebar-settings {
  .rtl-mode-toggle {
    span {
      span {
        @apply left-[5px];
      }
    }
    &:hover {
      span {
        span {
          @apply bg-primary-500;
        }
      }
    }
  }
}
[dir="rtl"] {
  .sidebar-settings {
    .rtl-mode-toggle {
      span {
        span {
          @apply bg-primary-500 left-[17px];
        }
      }
    }
  }
}

/** Swiper Slider */
[dir="rtl"] {
  .swiper {
    direction: ltr;

    .swiper-slide {
      * {
        direction: rtl;
      }
    }
  }
}

/* Sidebar Area */
.sidebar-area {
  @apply w-[260px] ltr:left-0 rtl:right-0 shadow-3xl;
}
.main-content {
  @apply transition-all ltr:ml-[260px] rtl:mr-[260px];
}
.header-area {
  @apply w-[calc(100%-290px)] ltr:right-[15px] rtl:left-[15px];
}

/* Active State for Sidebar Toggle */
.main-content-wrapper {
  &.active {
    .sidebar-area {
      @apply ltr:-left-[260px] rtl:-right-[260px];
    }
    .main-content {
      @apply ltr:ml-0 rtl:mr-0;
    }
    .header-area {
      @apply w-[calc(100%-30px)];
    }
  }
}

/* Mobile Responsiveness */
@media (max-width: 1199px) {
  .sidebar-area {
    @apply ltr:-left-[100%] rtl:-right-[100%] z-[999];
  }
  .main-content {
    @apply ltr:ml-0 rtl:mr-0;
  }
  .header-area {
    @apply w-[calc(100%-30px)];
  }
  
  .main-content-wrapper {
    &.active {
      .sidebar-area {
        @apply ltr:left-0 rtl:right-0;
      }
    }
  }
}
